---
title: "Sandton Amateur Radio Club"
layout: splash
permalink: /
classes:
  - search
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/ClubFlagv1_HomepageV4.png
  actions:
    - label: "Learn More"
      url: "/about/sarc/"
#  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "The Sandton Amateur Radio club services the greater northern suburbs of Johannesburg in furthering the interests of its members in all aspects of amateur radio and electronics, including the training of people interested in becoming a radio amateur."
intro: 
  - excerpt: "Amateur radio operation is fun. Amateur radio operators acquire good technical knowledge in executing their hobby and acquire new skills ranging from antenna building to building radios and linear amplifiers. 
  <br/><br/>
  Wireless amateur communication allows making contacts around the world on frequencies ranging from 1.6 MHz to 1240 MHz for learning, experimental and entertainment purposes. 
  <br/><br/>
  Ham radio also has a serious side as it can provide communication during states of emergency.
  <br/>
  <i>Ham radio works when all other services fail.</i>"
feature_row:
  - image_path: assets/images/RAE_600x400.png
    #image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Get your HAM Licence!"
    title: "Get your HAM Licence!"
    excerpt: "Want to get your licence and start your HAM journey?"
    url: "/about/rae/"
    btn_label: "Read More"
    btn_class: "btn--primary"

  - image_path: /assets/images/bulletin_readers.jpg
    alt: "Weekly Bulletins"
    title: "Weekly Bulletins"
    excerpt: "We have weekly bulletins on the air."
    url: "/about/bulletins/"
    btn_label: "Read More"
    btn_class: "btn--primary"
    
  - image_path: /assets/images/repeaters/repeaters.jpg
    title: "SARC Repeaters"
    excerpt: "SARC Hosts and Manages several Repeaters."
    url: "/repeaters/"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row2:
  - image_path: /assets/images/keep-calm-and-join-our-club-3.png
    alt: "Join our club"
    title: "Join our Club Today"
    excerpt: 'Join our Club Today'
    url: "/about/join/"
    btn_label: "Read More"
    btn_class: "btn--primary"
    
---

{% include feature_row id="intro" type="justify" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="left" %}

